 
   <div class="encabezado">
        <h1><%= "PROYECTOS PERSONALES" %></h1>

   </div>




   <div class="container-target"> 
        <div class="row">  
            <div class="card" style="width: 18rem;">
                <%= image_tag "ricomida.jpg.png", alt: "..." %>
                <div class="card-body">
                    <h5 class="card-title"><%= "Ricomida" %></h5>
                    <p class="card-text" id="card-text1"><%= "En esta pagina podemos ver como funcions en si un bootstrap tipo 'acordion' y una 'tarjeta', dandole enfasis en los distintos productos que ofrece el local comercial " %> </p>
                    <p class="card-text" id="card-text2" style="display: none;"><%="Tambien cuenta con enlaces directos a redes sociles, pago en linea y las paginas son responsivas (se adecuan a los distintos formatos de pantallas)" %></p>
                    <a href="#" class="btn btn-primary" onclick="toggleText('card-text1', 'card-text2')"><%= "Ver más" %></a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <%= image_tag "suricata.jpg.png", alt: "..." %>
                <div class="card-body">
                    <h5 class="card-title"><%= "Ricomida" %></h5>
                    <p class="card-text" id="card-text1"><%= " En esta pagina llamada 'suricata' podemos ver como se muestran las comidas del restaurant, de igual forma se muetran los platos q acompañan dicha elección " %> </p>
                    <p class="card-text" id="card-text2" style="display: none;"><%= "Tambien cuenta con enlaces directos a redes sociles, pago en linea y las paginas son responsivas (se adecuan a los distintos formatos de pantallas)" %></p>
                    <a href="#" class="btn btn-primary" onclick="toggleText('card-text1', 'card-text2')"><%= "Ver más" %></a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <%= image_tag "cuppon.jpg.png", alt: "..." %>
                <div class="card-body">
                    <h5 class="card-title"><%= "Ricomida" %></h5>
                    <p class="card-text" id="card-text1"><%= " Este es uno de los primeros proyectos que efectue " %> </p>
                    <p class="card-text" id="card-text2" style="display: none;"><%= "Tambien es responsivas (se adecuan a los distintos formatos de pantallas)" %></p>
                    <a href="#" class="btn btn-primary" onclick="toggleText('card-text1', 'card-text2')"><%= "Ver más" %></a>
                </div>
            </div>
    </div> 
